*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-20{
    top: 20px;
}
.mamad:hover{
    /* border-bottom: 2px solid black; */
    text-decoration: underline;
}
.rotate-180{
    transform: rotatey(-180deg);
}
.rotate-90{
    transform: rotatez(90deg);
}
.bg-mamad{
    background-color: #F2F2F2;
}
.ms-6{
    margin-left: 20%;
}
.bg-pmamad{
    background-color: #E6E6E6;
}
.border-bottom-mamad{   
    border-bottom: 2px solid black;
}
.h542{
    height: 542px;
}
.h300{
    height: 300px;
}
.w154h72{
    width: auto;
    height: 72px;
}
.w48h48{
    width: 48px;
    height: 48px;
}
.colorblue{
    color: #0067b8;
}
.w322{
    width: 322px !important;
}
.fb322px{
    flex-basis: 322px;
}

div.afterslider>div:nth-of-type(1)>div{
    background-image: url(../images/4.webp);
    background-position: center;
    background-repeat: no-repeat;
}
div.afterslider>div:nth-of-type(2)>div{
    background-image: url(../images/5.webp);
    background-position: center;
    background-repeat: no-repeat;
}
div.afterslider>div:nth-of-type(3)>div{
    background-image: url(../images/6.webp);
    background-position: center;
    background-repeat: no-repeat;
}
div.afterslider>div:nth-of-type(4)>div{
    background-image: url(../images/5.webp);
    background-position: center;
    background-repeat: no-repeat;
}
div.afterslider>div:nth-of-type(5)>div{
    background-image: url(../images/7.webp);
    background-position: center;
    background-repeat: no-repeat;
}
div.afterslider>div:nth-of-type(6)>div{
    background-image: url(../images/8.webp);
    background-position: center;
    background-repeat: no-repeat;
}
.w-35{
    width: 35%;
}
.top30{
    top:30%;
}
.left10{
    left: 10%;
}
.fsli{
    font-size: 14px;
}
.fs12{
    font-size: 12px;
}
@font-face {
    font-family: microsoft;
    src: url(../fonts/SegoeUI-Semibold.eot);
    src: url(../fonts/SegoeUI-Semibold.ttf);
    src: url(../fonts/SegoeUI-Semibold.woff);
    src: url(../fonts/SegoeUI-Semibold.woff2);
}
html,body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: microsoft; */
}
@media screen and (min-width:1400px){
    .w-110-xxl{
        width: 110px;
    }
    .h-24-xxl{
        height: 24px;
    } 
    .p8{
        padding: 8px !important;
    }
    .fs-12{
        font-size: 12px !important;
    }
    .w570h316{
        width: 570px;
        height: 316px;
    }
    .fontsizeh1{
        font-size: 40px;
    }
    .topfuck{
        top: 20%;
    }
    .leftfuck{
        left: 10%;
    }
    .fontsizep{
        font-size: 18px;
    }   
    .fontsizebut{
        font-size: 16px;
    }
    .h515{
        height: 515px;
    }
    div.banner{
        background-image: url(../images/12.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .w-35{
        width: 35%;
    }
    .top30{
        top:30%;
    }
    .left10{
        left: 10%;
    }   
}
@media screen and (min-width:1200px) and (max-width:1400px){
    .w-110-xxl{
        width: 110px;
    }
    .h-24-xxl{
        height: 24px;
    }
    .p8{
        padding: 8px !important;
    }
    .fs-12{
        font-size: 12px !important;
    }
    .w570h316{
        width: 470px;
        height: 316px;
    }
    .fontsizeh1{
        font-size: 35px;
    }
    .topfuck{
        top: 20%;
    }
    .leftfuck{
        left: 10%;
    }
    .fontsizep{
        font-size: 16px;
    }   
    .fontsizebut{
        font-size: 13px !important;
    }
    .h515{
        height: 515px;
    }
    div.banner{
        background-image: url(../images/13.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .w-35{
        width: 35%;
    }
    .top30{
        top:30%;
    }
    .left10{
        left: 10%;
    }
}
@media screen and (min-width:998px) and (max-width:1200px){
    .w-110-xxl{
        width: 110px;
    }
    .h-24-xxl{
        height: 24px;
    }
    .p8{
        padding: 8px !important;
    }
    .fs-12{
        font-size: 12px !important;
    }
    .w570h316{
        width: 370px;
        height: 300px;
    }
    .fontsizeh1{
        font-size: 20px;
    }
    .topfuck{
        top: 20%;
    }
    .leftfuck{
        left: 10%;
    }
    .fontsizep{
        font-size: 14px;
    }   
    .fontsizebut{
        font-size: 11px !important;
    }
    .h515{
        height: 515px;
    }
    div.banner{
        background-image: url(../images/13.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .w-35{
        width: 35%;
    }
    .top30{
        top:30%;
    }
    .left10{
        left: 10%;
    }
}
@media screen and (min-width:768px) and (max-width:998px){
    .w-110-xxl{
        width: 110px;
    }
    .h-24-xxl{
        height: 24px;
    }
    .yoho{
        padding: 16px;
        padding-bottom: unset;
    }
    .fs-12{
        font-size: 11px !important;
    }
    .w570h316{
        width: 300px;
        height: 200px;
    }
    .fontsizeh1{
        font-size: 18px;
    }
    .topfuck{
        top: 5%;
    }
    .leftfuck{
        left: 0;
    }
    .fontsizep{
        font-size: 12px;
    }   
    .fontsizebut{
        font-size: 9px !important;
    }
    .bgwhite{
        background-color: rgba(255, 255, 255, 0.5);
    }
    .h515{
        height: 515px;
    }
    div.banner{
        background-image: url(../images/14.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .w-35{
        width: 95%;
    }
    .top30{
        top:80%;
    }
    .left10{
        left: 2%;
    }
    .bgkheiliwhite{
        background-color: white !important;
    }
    .siah{
        color: black !important;
    }
}
@media screen and (min-width:576px) and (max-width:768px){
    .yoho{
        padding: 16px;
        padding-bottom: unset;
    }
    .fs-12{
        font-size: 11px !important;
    }
    .topfuck{
        top: 80%;
    }
    .leftfuck{
        left: 0;
    }
    .fontsizeh1{
        font-size: 16px;
    }
    .bgwhite{
        background-color: rgba(255, 255, 255, 0.5);
    }
    .fontsizep{
        font-size: 14px;
    }   
    .fontsizebut{
        font-size: 10px !important;
    }
    .h515{
        height: 515px;
    }
    div.banner{
        background-image: url(../images/14.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .w-35{
        width: 95%;
    }
    .top30{
        top:80%;
    }
    .left10{
        left: 2%;
    }
    .bgkheiliwhite{
        background-color: white !important;
    }
    .siah{
        color: black !important;
    }
}
@media screen and (max-width:576px){
    .yoho{
        padding: 16px;
        padding-bottom: unset;
    }
    .fs-12{
        font-size: 8px !important;
    }
    .topfuck{
        top: 80%;
    }
    .leftfuck{
        left: 0;
    }
    .fontsizeh1{
        font-size: 14px;
    }
    .bgwhite{
        background-color: rgba(255, 255, 255, 0.5);
    }
    .fontsizep{
        font-size: 13px;
    }   
    .fontsizebut{
        font-size: 10px !important;
    }
    .h515{
        height: 515px;
    }
    div.banner{
        background-image: url(../images/15.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .w-35{
        width: 100%;
    }
    .top30{
        top:80%;
    }
    .left10{
        left: 0%;
    }
    .bgkheiliwhite{
        background-color: white !important;
    }
    .siah{
        color: black !important;
    }
}
